@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');

:root{
    --cor-primaria: #3066a3;
    --cor-secundaria: #00a2ff;
    --cor-terciaria: #ffffff;
    --cor-fonte: #000000;
    --cor-hover: #183d66;

    --fonte-primaria: 'Ubuntu', sans-serif;;
    --fonte-secundaria: 'Josefin Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    background-color: var(--cor-secundaria);
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor-primaria);
}
body{
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding-left: 30px;
    padding-right: 100px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
.cabecalho_menu{
    display: flex;
    gap: 70px;
}
.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}
.apresentacao__imagem{
    width: 5%;
}
.apresentacao_tabela_leticia{
    width: 250px;
    display: inline-block;
    border: var(--cor-secundaria);
    border-radius: 5%;
    border-style: solid;
}
.apresentacao_tabela_leticia_nome{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 75%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 5px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    background-color: var(--cor-secundaria);
}
.apresentacao_tabela_joao{
    width: 250px;
    display: inline-block;
    border: var(--cor-secundaria);
    border-radius: 5%;
    border-style: solid;
}
.apresentacao_tabela_joao_nome{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 75%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 5px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    background-color: var(--cor-secundaria);
}
.apresentacao_tabela_bueno{
    width: 250px;
    display: inline-block;
    border: var(--cor-secundaria);
    border-radius: 5%;
    border-style: solid;
}
.apresentacao_tabela_bueno_nome{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 75%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 5px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    background-color: var(--cor-secundaria);
}
.apresentacao_tabela_ricardo{
    width: 250px;
    display: inline-block;
    border: var(--cor-secundaria);
    border-radius: 5%;
    border-style: solid;
}
.apresentacao_tabela_ricardo_nome{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 75%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 5px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    background-color: var(--cor-secundaria);
}
.apresentacao{
    padding: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao_conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 38px;
    background-color: var(--cor-primaria);
}
.apresentacao_conteudo_titulo{
    margin-top: 50px;
    margin-left: 150px;
    font-size: 95px;
    font-family: var(--fonte-primaria);
    color: var(--cor-fonte);
}
.apresentacao_conteudo_texto{
    font-size: 2rem;
    margin-left: 8.5%;
    margin-right: 52.75%;
    font-family: var(--fonte-secundaria);
    color: var(--cor-fonte);
    text-align: justify;
}
.apresentacao_conteudo_titulo_2{
    margin-top: 100%;
    margin-left: 150px;
    font-size: 70px;
    font-family: var(--fonte-primaria);
    color: var(--cor-fonte);
}
.integrantes{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.infos_integrantes{
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    color: var(--cor-fonte);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap: 32px;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 100%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    background-color: var(--cor-secundaria);
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}
.titulo_forte{
    color: var(--cor-terciaria);
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 25px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}